.search-bar {
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar > input {
    font-size: 20px;
    width: 250px;
    height: 50px;
    padding: 5px;
}